In [3]:
import pandas as pd
import math
import numpy as np

In [4]:
telemetry = pd.read_csv("../Motorq Data Science Assignment/telemetry_data.csv")
triggers = pd.read_csv("../Motorq Data Science Assignment/triggers_soc.csv")
pnid = pd.read_csv("../Motorq Data Science Assignment/vehicle_pnid_mapping.csv")
arti_ign = pd.read_json("../Motorq Data Science Assignment/artificial_ign_off_data.json")

In [5]:
telemetry["TIMESTAMP"] = pd.to_datetime(telemetry["TIMESTAMP"], format="mixed")

In [39]:
telemetry.dtypes

Unnamed: 0                   int64
VEHICLE_ID                  object
TIMESTAMP           datetime64[ns]
SPEED                      float64
IGNITION_STATUS             object
EV_BATTERY_LEVEL           float64
ODOMETER                   float64
dtype: object

In [7]:
triggers["CTS"] = pd.to_datetime(triggers["CTS"], format="mixed")

In [8]:
triggers["PNID"] = triggers["PNID"].apply(str)

In [9]:
triggers

       Unnamed: 0                       CTS       PNID          NAME   VAL
0               0 2021-12-01 17:58:27-05:30  206958332       IGN_CYL   OFF
1               1 2021-12-01 17:58:27-05:30  206958332       IGN_CYL   OFF
2               2 2021-12-01 17:56:24-05:30  206958332       IGN_CYL    ON
3               3 2021-12-01 17:56:24-05:30  206958332  CHARGE_STATE  50.1
4               4 2021-12-01 17:56:24-05:30  206958332       IGN_CYL    ON
...           ...                       ...        ...           ...   ...
68665       68665 2022-01-28 20:45:07-05:30  193290358       IGN_CYL   OFF
68666       68666 2022-01-28 20:45:52-05:30  207925262       IGN_CYL    ON
68667       68667 2022-01-28 20:45:52-05:30  207925262  CHARGE_STATE  49.0
68668       68668 2022-01-28 20:45:52-05:30  207925262       IGN_CYL    ON
68669       68669 2022-01-28 20:45:52-05:30  207925262  CHARGE_STATE  49.0

[68670 rows x 5 columns]

In [10]:
triggers.isna().sum()

Unnamed: 0    0
CTS           0
PNID          0
NAME          0
VAL           0
dtype: int64

In [11]:
pnid

,Unnamed: 0,ID,IDS
0,0,66bd55df-eaf0-49c8-b9e1-7759b85e9325,"[\n ""256932585"",\n ""256932577"",\n ""25693258..."
1,1,ae912623-e122-4bfb-b2a1-7d407ea42b1b,NaN
2,2,39424065-b3be-45e5-8f7d-b7f16a6c190a,NaN
3,3,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,"[\n ""270199389"",\n ""270199393"",\n ""27019938..."
4,0,9893c80d-f282-46cf-a794-280f0306c936,"[\n ""256933093"",\n ""256933081"",\n ""25693308..."
5,1,56d8ca94-9b18-41d1-831f-7afd905326d4,"[\n ""331750017"",\n ""331750025"",\n ""33175002..."
6,2,026af092-a01e-4b0a-af38-f459725dabc6,NaN
7,3,654f3d0f-f2f9-4fc6-856d-91337bef92f7,NaN
8,4,ae912623-e122-4bfb-b2a1-7d407ea42b1b,NaN
9,5,39424065-b3be-45e5-8f7d-b7f16a6c190a,NaN
10,6,3bb48ce7-bb7e-4b4f-b902-b0561e1cd2e0,"[\n ""250407798"",\n ""250407790"",\n ""25040779..."
11,7,cefc7df0-cf57-46ab-8180-55d437e07d9f,"[\n ""255130900"",\n ""255130908"",\n ""25513090..."
12,8,d44b765e-d86f-46f8-ba46-8cd913c49285,"[\n ""197443154"",\n ""197443158"",\n ""19744316..."
13,9,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,"[\n ""270199389"",\n ""270199393"",\n ""27019938..."
14,10,9eb5ac45-bbf9-4a07-83d8-044372f336c7,"[\n ""255131120"",\n ""255131128"",\n ""25513113..."
15,11,ef67f6d6-196a-4bc0-94fa-c13ad9672dac,"[\n ""331750427"",\n ""331750431"",\n ""33175042..."
16,12,8ce8b281-3c5e-4b17-a863-630b9fc813dc,"[\n ""248102116"",\n ""248102132"",\n ""24810212..."
17,13,807158a9-c266-4cda-b061-e76314b1b422,"[\n ""248503362"",\n ""248503574"",\n ""24850336..."
18,14,04105a12-59b9-447b-865f-599f48eed1d7,"[\n ""331750387"",\n ""331750395"",\n ""33175039..."

In [12]:
pnid.columns

Index(['Unnamed: 0', 'ID', 'IDS'], dtype='object')

In [13]:
arti_ign["timestamp"] = pd.to_datetime(arti_ign["timestamp"], format="mixed")

In [14]:
arti_ign

,vehicleId,timestamp,type
0,3e937810-3a3b-48d6-80ad-56ae12c3bed8,2022-01-31 19:13:06.001000+00:00,artificial_event
1,3e937810-3a3b-48d6-80ad-56ae12c3bed8,2022-01-31 04:25:05.011000+00:00,artificial_event
2,460a67ab-ee58-4279-b96d-ac56ac029d3e,2022-01-30 01:58:57.004000+00:00,artificial_event
3,9893c80d-f282-46cf-a794-280f0306c936,2022-01-30 21:43:42.027000+00:00,artificial_event
4,fb20e847-d2a1-4583-b874-393c9d1f3db9,2022-01-31 04:25:05.038000+00:00,artificial_event
...,...,...,...
406,f0704100-56e6-4117-ae4f-cf97e5d2d132,2021-12-19 07:32:14.004000+00:00,artificial_event
407,fb20e847-d2a1-4583-b874-393c9d1f3db9,2021-12-19 05:54:05.037000+00:00,artificial_event
408,fb20e847-d2a1-4583-b874-393c9d1f3db9,2021-12-19 04:10:51.041000+00:00,artificial_event
409,460a67ab-ee58-4279-b96d-ac56ac029d3e,2021-12-18 22:45:17.030000+00:00,artificial_event
410,3e937810-3a3b-48d6-80ad-56ae12c3bed8,2021-12-18 18:53:37.067000+00:00,artificial_event

In [15]:
arti_ign.isna().sum()

vehicleId    0
timestamp    0
type         0
dtype: int64

In [16]:
pnid2 = pd.DataFrame({
    "sno":[],
    "ID":[],
    "PNID":[]
})
for i in range(pnid.shape[0]):
    ins = pnid.iloc[i]
    ids = ins["IDS"]
    if isinstance(ids, str):
        ids = list(ids.replace("\n","").replace("[","").replace("]","").replace("\"","").split(","))
        ids = [s.strip() for s in ids]
        for id in ids:
            pnid2.loc[len(pnid2.index)] = [ins["Unnamed: 0"],ins['ID'], id]
    else:
        pnid2.loc[len(pnid2.index)] =  [ins["Unnamed: 0"],ins['ID'], np.NaN]
pnid2

     sno                                    ID       PNID
0      0  66bd55df-eaf0-49c8-b9e1-7759b85e9325  256932585
1      0  66bd55df-eaf0-49c8-b9e1-7759b85e9325  256932577
2      0  66bd55df-eaf0-49c8-b9e1-7759b85e9325  256932581
3      0  66bd55df-eaf0-49c8-b9e1-7759b85e9325  256932589
4      0  66bd55df-eaf0-49c8-b9e1-7759b85e9325  256782425
..   ...                                   ...        ...
160   14  04105a12-59b9-447b-865f-599f48eed1d7  364272761
161   14  04105a12-59b9-447b-865f-599f48eed1d7  278608654
162   14  04105a12-59b9-447b-865f-599f48eed1d7  364272749
163   14  04105a12-59b9-447b-865f-599f48eed1d7  364272753
164   14  04105a12-59b9-447b-865f-599f48eed1d7  364272745

[165 rows x 3 columns]

In [17]:
pnid2.isna().sum()

sno     0
ID      0
PNID    6
dtype: int64

In [18]:
pnid2.drop_duplicates(subset="PNID", inplace=True)

In [19]:
pnid2["PNID"].duplicated().value_counts()

PNID
False    155
Name: count, dtype: int64

In [20]:
triggers = pd.merge(left=triggers, right=pnid2[["ID", "PNID"]], on="PNID", how="inner")
triggers

,Unnamed: 0,CTS,PNID,NAME,VAL,ID
0,6,2021-12-01 19:26:58-05:30,256832791,IGN_CYL,ON,9893c80d-f282-46cf-a794-280f0306c936
1,7,2021-12-01 19:27:01-05:30,256832791,CHARGE_STATE,73.3,9893c80d-f282-46cf-a794-280f0306c936
2,404,2021-12-08 23:52:25-05:30,256832791,IGN_CYL,OFF,9893c80d-f282-46cf-a794-280f0306c936
3,405,2021-12-08 23:52:32-05:30,256832791,CHARGE_STATE,47.4,9893c80d-f282-46cf-a794-280f0306c936
4,424,2021-12-14 22:42:28-05:30,256832791,IGN_CYL,ON,9893c80d-f282-46cf-a794-280f0306c936
...,...,...,...,...,...,...
23418,68481,2022-01-28 21:42:27-05:30,270129825,CHARGE_STATE,51.7,fc86bd41-dd55-4d15-bb3f-35e31c7759e6
23419,68530,2022-01-28 21:40:02-05:30,270129825,IGN_CYL,OFF,fc86bd41-dd55-4d15-bb3f-35e31c7759e6
23420,68531,2022-01-28 21:40:04-05:30,270129825,CHARGE_STATE,52.1,fc86bd41-dd55-4d15-bb3f-35e31c7759e6
23421,68532,2022-01-28 21:40:02-05:30,270129825,IGN_CYL,OFF,fc86bd41-dd55-4d15-bb3f-35e31c7759e6
23422,68533,2022-01-28 21:40:04-05:30,270129825,CHARGE_STATE,52.1,fc86bd41-dd55-4d15-bb3f-35e31c7759e6

In [21]:
triggers["ID"].value_counts()

ID
66bd55df-eaf0-49c8-b9e1-7759b85e9325    7523
9893c80d-f282-46cf-a794-280f0306c936    5660
fc86bd41-dd55-4d15-bb3f-35e31c7759e6    5253
d44b765e-d86f-46f8-ba46-8cd913c49285    4987
Name: count, dtype: int64

In [44]:
ignition_events = pd.DataFrame({
    "VEHICLE_ID":[],
    "TIMESTAMP":[],
    "event_name":[],
})

In [45]:
prev = dict()
for i in range(telemetry.shape[0]):
    tel = telemetry.iloc[i]
    if not prev.__contains__(tel["VEHICLE_ID"]):
        prev[tel["VEHICLE_ID"]]=tel['IGNITION_STATUS']
    if tel['IGNITION_STATUS']=="on" and prev[tel["VEHICLE_ID"]]=="off":
        ignition_events.loc[len(ignition_events.index)] = [tel["VEHICLE_ID"], tel["TIMESTAMP"], "ignitionOn"]
        previous_status = "on"
    elif tel['IGNITION_STATUS']=="off" and prev[tel["VEHICLE_ID"]]=="on":
        ignition_events.loc[len(ignition_events.index)] = [tel["VEHICLE_ID"], tel["TIMESTAMP"], "ignitionOff"]
        previous_status = "off"

In [46]:
import datetime
tzinfo = datetime.datetime.now().tzinfo

prev = dict()
for i in range(triggers.shape[0]):
    tel = triggers.iloc[i]
    if tel["NAME"]!="IGN_CYL":continue
    if not prev.__contains__(tel["ID"]):
        prev[tel["ID"]]=tel['VAL']
    if tel['VAL']=="ON" and prev[tel["ID"]]=="OFF":
        ignition_events.loc[len(ignition_events.index)] = [tel["ID"], tel["CTS"], "ignitionOn"]
        previous_status = "ON"
    elif tel['VAL']=="OFF" and prev[tel["ID"]]=="ON":
        ignition_events.loc[len(ignition_events.index)] = [tel["ID"], tel["CTS"], "ignitionOff"]
        previous_status = "OFF"

In [47]:
for i in range(arti_ign.shape[0]):
    x = arti_ign.iloc[i]
    ignition_events.loc[len(ignition_events.index)] = [x["vehicleId"], x["timestamp"], "ignitionOff"]

In [50]:
ignition_events

,VEHICLE_ID,TIMESTAMP,event_name
0,56d8ca94-9b18-41d1-831f-7afd905326d4,2023-01-01 02:31:55.002000,ignitionOff
1,56d8ca94-9b18-41d1-831f-7afd905326d4,2023-01-01 02:31:55.100000,ignitionOff
2,56d8ca94-9b18-41d1-831f-7afd905326d4,2023-01-01 02:37:03.039000,ignitionOff
3,56d8ca94-9b18-41d1-831f-7afd905326d4,2023-01-01 02:37:03.100000,ignitionOff
4,56d8ca94-9b18-41d1-831f-7afd905326d4,2023-01-01 02:58:10.035000,ignitionOff
...,...,...,...
8781,f0704100-56e6-4117-ae4f-cf97e5d2d132,2021-12-19 07:32:14.004000+00:00,ignitionOff
8782,fb20e847-d2a1-4583-b874-393c9d1f3db9,2021-12-19 05:54:05.037000+00:00,ignitionOff
8783,fb20e847-d2a1-4583-b874-393c9d1f3db9,2021-12-19 04:10:51.041000+00:00,ignitionOff
8784,460a67ab-ee58-4279-b96d-ac56ac029d3e,2021-12-18 22:45:17.030000+00:00,ignitionOff
8785,3e937810-3a3b-48d6-80ad-56ae12c3bed8,2021-12-18 18:53:37.067000+00:00,ignitionOff

In [53]:
triggers["VAL"].value_counts()

VAL
OFF        5039
ON         4810
Active     1576
Aborted    1038
79.2        159
           ...
20.0          1
7.8           1
1.9           1
0.7           1
18.4          1
Name: count, Length: 235, dtype: int64

In [28]:
ev_triggers = pd.DataFrame({
    "VEHICLE_ID":[],
    "TIMESTAMP":[],
    "event_name":[]
})

In [29]:
for i in range(triggers.shape[0]):
    tel = triggers.iloc[i]
    if tel["NAME"]!="EV_CHARGE_STATE":continue
    if tel['VAL']=="Active":
        ev_triggers.loc[len(ev_triggers.index)] = [tel["ID"], tel["CTS"], "Active"]
    elif tel['VAL']=="Aborted":
        ev_triggers.loc[len(ev_triggers.index)] = [tel["ID"], tel["CTS"], "Aborted"]
    elif tel['VAL']=="Complete":
        ev_triggers.loc[len(ev_triggers.index)] = [tel["ID"], tel["CTS"], "Complete"]

In [30]:
ev_triggers

,VEHICLE_ID,TIMESTAMP,event_name
0,9893c80d-f282-46cf-a794-280f0306c936,2021-12-30 01:56:21-05:30,Active
1,9893c80d-f282-46cf-a794-280f0306c936,2021-12-30 02:39:35-05:30,Aborted
2,9893c80d-f282-46cf-a794-280f0306c936,2022-01-03 22:25:00-05:30,Active
3,9893c80d-f282-46cf-a794-280f0306c936,2022-01-03 22:26:59-05:30,Active
4,9893c80d-f282-46cf-a794-280f0306c936,2022-01-12 06:54:27-05:30,Active
...,...,...,...
2665,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,2022-01-21 03:32:12-05:30,Active
2666,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,2022-01-21 03:39:57-05:30,Active
2667,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,2022-01-21 03:39:57-05:30,Active
2668,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,2022-01-21 06:45:03-05:30,Active
2669,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,2022-01-21 06:45:03-05:30,Active

In [54]:
combined = pd.concat([ignition_events, ev_triggers])
combined

,VEHICLE_ID,TIMESTAMP,event_name
0,56d8ca94-9b18-41d1-831f-7afd905326d4,2023-01-01 02:31:55.002000+00:00,ignitionOff
1,56d8ca94-9b18-41d1-831f-7afd905326d4,2023-01-01 02:31:55.100000+00:00,ignitionOff
2,56d8ca94-9b18-41d1-831f-7afd905326d4,2023-01-01 02:37:03.039000+00:00,ignitionOff
3,56d8ca94-9b18-41d1-831f-7afd905326d4,2023-01-01 02:37:03.100000+00:00,ignitionOff
4,56d8ca94-9b18-41d1-831f-7afd905326d4,2023-01-01 02:58:10.035000+00:00,ignitionOff
...,...,...,...
2665,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,2022-01-21 03:32:12-05:30,Active
2666,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,2022-01-21 03:39:57-05:30,Active
2667,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,2022-01-21 03:39:57-05:30,Active
2668,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,2022-01-21 06:45:03-05:30,Active
2669,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,2022-01-21 06:45:03-05:30,Active

In [32]:
telemetry = telemetry.sort_values(by=["VEHICLE_ID", "TIMESTAMP"])
telemetry

,Unnamed: 0,VEHICLE_ID,TIMESTAMP,SPEED,IGNITION_STATUS,EV_BATTERY_LEVEL,ODOMETER
1415308,341343,026af092-a01e-4b0a-af38-f459725dabc6,2023-01-01 02:36:17.442,30.0,NaN,98.0,35439.0
1415309,341344,026af092-a01e-4b0a-af38-f459725dabc6,2023-01-01 02:36:47.885,NaN,NaN,98.0,35439.3
1415310,341345,026af092-a01e-4b0a-af38-f459725dabc6,2023-01-01 02:36:47.886,48.0,NaN,NaN,NaN
1415311,341346,026af092-a01e-4b0a-af38-f459725dabc6,2023-01-01 02:37:18.561,6.0,NaN,98.0,35439.5
1188880,114915,026af092-a01e-4b0a-af38-f459725dabc6,2023-01-01 02:37:48.866,0.0,NaN,97.0,35439.5
...,...,...,...,...,...,...,...
1460034,386069,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,2023-01-30 22:53:26.096,NaN,NaN,NaN,NaN
1460035,386070,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,2023-01-30 22:53:28.185,NaN,off,NaN,NaN
1460036,386071,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,2023-01-30 22:53:31.187,NaN,NaN,NaN,NaN
1460037,386072,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,2023-01-30 22:53:41.194,NaN,NaN,72.9,NaN
1460038,386073,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,2023-01-30 22:53:41.195,NaN,NaN,NaN,81702.8

In [33]:
triggers = triggers.sort_values(by=["ID", "CTS"])
triggers

,Unnamed: 0,CTS,PNID,NAME,VAL,ID
11643,53734,2021-09-01 07:53:54-05:30,256782425,IGN_CYL,ON,66bd55df-eaf0-49c8-b9e1-7759b85e9325
11644,53735,2021-09-01 07:53:57-05:30,256782425,CHARGE_STATE,81.5,66bd55df-eaf0-49c8-b9e1-7759b85e9325
11645,53743,2021-09-01 07:54:28-05:30,256782425,IGN_CYL,OFF,66bd55df-eaf0-49c8-b9e1-7759b85e9325
11646,53744,2021-09-01 07:54:35-05:30,256782425,CHARGE_STATE,81.5,66bd55df-eaf0-49c8-b9e1-7759b85e9325
11639,53562,2021-09-02 01:39:00-05:30,256782425,IGN_CYL,ON,66bd55df-eaf0-49c8-b9e1-7759b85e9325
...,...,...,...,...,...,...
22054,49707,2022-01-31 04:51:53-05:30,270129825,IGN_CYL,OFF,fc86bd41-dd55-4d15-bb3f-35e31c7759e6
22053,49706,2022-01-31 04:51:57-05:30,270129825,CHARGE_STATE,67.4,fc86bd41-dd55-4d15-bb3f-35e31c7759e6
22055,49708,2022-01-31 04:51:57-05:30,270129825,CHARGE_STATE,67.4,fc86bd41-dd55-4d15-bb3f-35e31c7759e6
22082,49735,2022-01-31 04:52:21-05:30,270129825,EV_CHARGE_STATE,Active,fc86bd41-dd55-4d15-bb3f-35e31c7759e6
22083,49736,2022-01-31 04:52:21-05:30,270129825,EV_CHARGE_STATE,Active,fc86bd41-dd55-4d15-bb3f-35e31c7759e6

In [34]:
combined["Battery"] = np.NaN

In [55]:
combined["TIMESTAMP"] = pd.to_datetime(combined["TIMESTAMP"], format="mixed", utc=True)

In [56]:
combined = combined.sort_values(by=["VEHICLE_ID", "TIMESTAMP"])

In [79]:
charging_events = pd.DataFrame({
    "Vehicle_id": [],
    "charging_event_start":[],
    "charging_event_end":[],
    "ev_battery_level_start":[],
    "ev_battery_level_end":[],
    "Battery_change":[]
})

In [ ]:
prev_ign = "ignitionOff"
prev_charge = 0
prev_time = None
for i in range(combined.shape[0]):
    ents = combined[combined["VEHICLE_ID"]]

In [ ]:
combined["Battery level"] = np.NaN

In [73]:
combined

,VEHICLE_ID,TIMESTAMP,event_name,Battery level
8777,19c4f06a-d5c7-4e51-ae2c-56c5367c0d50,2021-12-19 07:31:53.009000+00:00,ignitionOff,0.181887
8776,19c4f06a-d5c7-4e51-ae2c-56c5367c0d50,2021-12-19 18:33:46.004000+00:00,ignitionOff,-1.185433
8768,19c4f06a-d5c7-4e51-ae2c-56c5367c0d50,2021-12-20 17:45:08.022000+00:00,ignitionOff,-0.938360
8755,19c4f06a-d5c7-4e51-ae2c-56c5367c0d50,2021-12-21 22:52:04.009000+00:00,ignitionOff,-1.803785
8738,19c4f06a-d5c7-4e51-ae2c-56c5367c0d50,2021-12-22 17:35:47.008000+00:00,ignitionOff,-0.954137
...,...,...,...,...
8374,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,2022-01-31 10:12:35+00:00,ignitionOn,0.947336
2406,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,2022-01-31 10:12:53+00:00,Aborted,0.213522
2407,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,2022-01-31 10:12:53+00:00,Aborted,0.699232
2416,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,2022-01-31 10:22:21+00:00,Active,-2.522392
2417,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,2022-01-31 10:22:21+00:00,Active,-0.827339

In [102]:
for i in range(combined.shape[0]):
    print(i)
    tel = combined.iloc[i]
    ts = tel["TIMESTAMP"]
    ents = telemetry[telemetry["VEHICLE_ID"] == tel["VEHICLE_ID"]]
    s = 0
    l = ents.shape[0]-1
    mid = int((s+l)/2)
    prev_mid = 0
    while mid!=prev_mid:
        if ents.iloc[mid]["TIMESTAMP"].replace(tzinfo = ts.tzinfo) > ts:
            l = mid-1
            prev_mid = mid
            mid = int((s+l)/2)
        elif ents.iloc[mid]["TIMESTAMP"].replace(tzinfo = ts.tzinfo) < ts:
            s = mid+1
            prev_mid = mid
            mid = int((s+l)/2)
        else:
            break
    j = 0
    min=None
    min2=None
    while mid-j>0 and mid+j<ents.shape[0]:
        if not pd.isnull(ents.iloc[mid-j]["EV_BATTERY_LEVEL"]):
            min = ents.iloc[mid-j]["EV_BATTERY_LEVEL"]
        if not pd.isnull(ents.iloc[mid+j]["EV_BATTERY_LEVEL"]) and (not min or ents.iloc[mid+j]["EV_BATTERY_LEVEL"]<min):
            min = ents.iloc[mid+j]["EV_BATTERY_LEVEL"]
        if min:
            break
        j+=1
    tel = combined.iloc[i]
    ts = tel["TIMESTAMP"]
    ents = triggers[triggers["ID"] == tel["VEHICLE_ID"]]
    s = 0
    l = ents.shape[0]-1
    mid = int((s+l)/2)
    prev_mid = 0
    while mid!=prev_mid:
        if ents.iloc[mid]["CTS"].replace(tzinfo = ts.tzinfo) > ts:
            l = mid-1
            prev_mid = mid
            mid = int((s+l)/2)
        elif ents.iloc[mid]["CTS"].replace(tzinfo = ts.tzinfo) < ts:
            s = mid+1
            prev_mid = mid
            mid = int((s+l)/2)
        else:
            break
    j = 0
    while mid-j>0 and mid+j<ents.shape[0]: 
        min2 = None
        if ents.iloc[mid-j]["NAME"]=="CHARGE_STATE" and not pd.isnull(ents.iloc[mid-j]["VAL"]):
            min2 = float(ents.iloc[mid-j]["VAL"])
        if ents.iloc[mid-j]["NAME"]=="CHARGE_STATE" and not pd.isnull(ents.iloc[mid+j]["VAL"]) and (not min2 or float(ents.iloc[mid+j]["VAL"])<min2):
            min2 = float(ents.iloc[mid+j]["VAL"])
        if min2: 
            break
        j+=1
    if min and min2: combined.iat[i, 3] = min if min<min2 else min2
    elif min:
        combined.iat[i, 3] = min
    elif min2:
        combined.iat[i, 3] = min

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746

ValueError: could not convert string to float: 'Aborted'

In [104]:
prev_ign = "ignitionOff"
prev_charge = 0
prev_time = None
grouped = combined.groupby("VEHICLE_ID")
for name, group in grouped:
    for i in range(group.shape[0]):
        if group.iloc[i]["event_name"] == "ignitionOn":prev_ign = "ignitionOn"
        if group.iloc[i]["event_name"] == "ignitionOff":prev_ign = "ignitionOff"
        if i==0:
            prev_time = group.iloc[i]["TIMESTAMP"]
            prev_charge = group.iloc[i]["Battery level"]
        if prev_ign == "ignitionOff" and not np.isnan(group.iloc[i]["Battery level"]) and group.iloc[i]["Battery level"] - prev_charge>1:
            charging_events.loc[len(charging_events.index)] = [name, prev_time, group.iloc[i]["TIMESTAMP"], prev_charge, group.iloc[i]["Battery level"], group.iloc[i]["Battery level"] - prev_charge]
            prev_time = group.iloc[i]["TIMESTAMP"]
            prev_charge = group.iloc[i]["Battery level"]
        if prev_ign == "ignitionOn"and not np.isnan(group.iloc[i]["Battery level"]) and group.iloc[i]["Battery level"] - prev_charge>3:
            charging_events.loc[len(charging_events.index)] = [name, prev_time, group.iloc[i]["TIMESTAMP"], prev_charge, group.iloc[i]["Battery level"], group.iloc[i]["Battery level"] - prev_charge]
            prev_time = group.iloc[i]["TIMESTAMP"]
            prev_charge = group.iloc[i]["Battery level"]

In [105]:
charging_events

,Vehicle_id,charging_event_start,charging_event_end,ev_battery_level_start,ev_battery_level_end,Battery_change
0,19c4f06a-d5c7-4e51-ae2c-56c5367c0d50,2021-12-19 07:31:53.009000+00:00,2022-01-04 03:23:07.007000+00:00,0.181887,1.212304,1.030416
1,3e937810-3a3b-48d6-80ad-56ae12c3bed8,2021-12-18 18:53:37.067000+00:00,2021-12-22 02:17:10.002000+00:00,0.865355,2.119674,1.254318
2,460a67ab-ee58-4279-b96d-ac56ac029d3e,2021-12-18 22:45:17.030000+00:00,2022-01-01 00:48:03.018000+00:00,0.668114,2.476648,1.808534
3,4d210a10-6c23-41c4-92e1-5b1833f7b54a,2021-12-21 17:13:58.013000+00:00,2021-12-22 14:22:11.394000+00:00,-0.461171,0.864631,1.325803
4,56d8ca94-9b18-41d1-831f-7afd905326d4,2023-01-01 02:31:55.002000+00:00,2023-01-01 02:37:03.100000+00:00,-0.431597,0.610924,1.042521
5,56d8ca94-9b18-41d1-831f-7afd905326d4,2023-01-01 02:37:03.100000+00:00,2023-01-01 09:02:22.002000+00:00,0.610924,1.715791,1.104866
6,56d8ca94-9b18-41d1-831f-7afd905326d4,2023-01-01 09:02:22.002000+00:00,2023-01-04 06:18:45.100000+00:00,1.715791,2.810937,1.095146
7,9893c80d-f282-46cf-a794-280f0306c936,2021-09-02 05:14:25+00:00,2021-09-05 01:40:28+00:00,-0.419332,0.657046,1.076378
8,9893c80d-f282-46cf-a794-280f0306c936,2021-09-05 01:40:28+00:00,2021-09-05 12:56:44+00:00,0.657046,1.853892,1.196846
9,9893c80d-f282-46cf-a794-280f0306c936,2021-09-05 12:56:44+00:00,2021-09-21 03:28:13+00:00,1.853892,3.033275,1.179382
10,d44b765e-d86f-46f8-ba46-8cd913c49285,2021-09-01 11:45:46+00:00,2021-09-21 12:20:49+00:00,-0.214116,3.670741,3.884857
11,f0704100-56e6-4117-ae4f-cf97e5d2d132,2021-12-19 07:32:14.004000+00:00,2021-12-25 05:42:38.030000+00:00,-0.361177,0.666366,1.027543
12,f0704100-56e6-4117-ae4f-cf97e5d2d132,2021-12-25 05:42:38.030000+00:00,2022-01-07 16:40:18.009000+00:00,0.666366,2.156965,1.490599
13,fb20e847-d2a1-4583-b874-393c9d1f3db9,2021-12-19 04:10:51.041000+00:00,2021-12-19 08:17:12.031000+00:00,-1.402266,0.431728,1.833994
14,fb20e847-d2a1-4583-b874-393c9d1f3db9,2021-12-19 08:17:12.031000+00:00,2021-12-19 18:16:14.017000+00:00,0.431728,1.733325,1.301597
15,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,2021-09-01 23:56:19+00:00,2021-09-02 01:51:05+00:00,-2.890283,0.536965,3.427248
16,fc86bd41-dd55-4d15-bb3f-35e31c7759e6,2021-09-02 01:51:05+00:00,2022-01-22 06:26:28+00:00,0.536965,1.915173,1.378208
17,56d8ca94-9b18-41d1-831f-7afd905326d4,2023-01-01 02:31:55.002000+00:00,2023-01-01 02:58:10.035000+00:00,61.100000,69.800000,8.700000
18,56d8ca94-9b18-41d1-831f-7afd905326d4,2023-01-01 02:58:10.035000+00:00,2023-01-01 03:53:03.029000+00:00,69.800000,85.800000,16.000000
19,56d8ca94-9b18-41d1-831f-7afd905326d4,2023-01-01 03:53:03.029000+00:00,2023-01-02 02:47:07.011000+00:00,85.800000,91.700000,5.900000
20,56d8ca94-9b18-41d1-831f-7afd905326d4,2023-01-02 02:47:07.011000+00:00,2023-01-02 03:17:07.011000+00:00,91.700000,100.000000,8.300000